body {
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.student_id {
  width: 520px;
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 1px 0px 0px #a9a39e, 0px 1px 0px #a9a39e, 2px 1px 0px #a9a39e,
    1px 2px 0px #a9a39e, 3px 2px 0px #958b83, 2px 3px 0px #958b83,
    4px 3px 0px #93867c, 3px 4px 0px #93867c, 5px 4px 0px #93867c,
    4px 5px 0px #93867c;
}

.top_section {
  display: flex;
  padding: 30px;
  background: linear-gradient(to right, #e84610, #ffffff);
  color: white;
}

.profile_photo {
  flex-shrink: 0;
}

.profile_photo img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}

.student_name {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.student_info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.student_info .name {
  font-size: 1.5em;
  font-weight: bold;
}
.student_info .age {
  font-size: 1.1em;
  margin-top: 5px;
}
.bottom_section {
  padding: 30px;
}

.student_details {
  margin-top: 10px;
}

.student_details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.student_details li {
  margin-bottom: 10px;
  font-size: 1.1em;
  color: #555;
}

span {
  font-weight: bold;
}
